<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div class="vertical">
    <form >
    <input type="text" id="q" style="margin:0px auto;width:300px; display: inline-block"
               class="typeahead form-control" data-provide="typeahead" name="q"
               autocomplete="off" placeholder="请输入要搜索名称">
        <select id="mySelect" class="form-control selcls"
        style="margin:2px auto;width:100px; display: inline-block"
        > <!-- onchange="show()" -->
            <option value="LoadCompanyColumnGraph" selected="selected">公司</option>
            <option value="LoadPersonColumnGraph">个人</option>
        </select>
        <input type="button" class="btn btn-success " onclick="LoadGranph()" value="查询">
    </form>
    <hr />
    </div>
    <div id="main" style="width: 100%;height:400px;">


    </div>
    <table id="cusTable"></table>

    <script type="text/javascript">
        //获取自动补全数据
        $('input.typeahead').typeahead({
            source:  function (query, process) {
            return $.post('/search', { query: query }, function (data) {
                    console.log(data);
                    data = $.parseJSON(data);
                    return process(data);
                });
            }
        });
    $(document).ready(LoadCompanyColumnGraph)
    </script>
</body>
</html>