<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分组数据</title>
	<link ref="stylesheet" href='{{ static_url("css/bootstrap-table.min.css") }}'>
    <script src='{{ static_url("js/jquery.min.js") }}'></script>
    <script src='{{ static_url("js/bootstrap-table.min.js") }}'></script>
	<script src='{{ static_url("js/bootstrap-table-zh-CN.js") }}'></script>

</head>
<body>
    <form id="companyForm" action="/company/count" method="post" class="form-horizontal" role="form">
                    <fieldset>
                        <legend>查询条件</legend>
                       <div class="form-group">
                          <label class="col-sm-2 control-label" for="ds_host">公司</label>
                          <div class="col-sm-4">
                             <input class="form-control" id="ds_host" name="company" type="text" placeholder="今缘春销售"/>
                          </div>
                       </div>
                       <div class="form-group">
						  <label class="col-sm-2 control-label" for="ds_name">开始日期</label>
                          <div class="col-sm-4">
                             <input class="form-control" id="ds_name" name="start_date" type="text" placeholder="2017/02/01"/>
                          </div>
                          <label class="col-sm-2 control-label" for="ds_username">结束日期</label>
                          <div class="col-sm-4">
                             <input class="form-control" id="ds_username" name="end_date" type="text" placeholder="2017/02/03"/>
                          </div>


                       </div>

                        <div class="form-group">
                          <div class="col-sm-4 pull-right">
                             <input  style="width: 50%" class="btn btn-primary btn-block" id="btn" type="button" value="查询"/>
                          </div>

                       </div>

                    </fieldset>
                    <hr />
                </form>
    <div id="Ptime"></div>
    <table id="cusTable">
    </table>
<script type="text/javascript">
    $(document).ready(function(){
        $("#btn").click(function(){
            var form = $("#companyForm").serialize();
            $.post("/company/count",form,function (data) {
                analyze_data = '汇总时间:' + data["time"] + "秒, 汇总数据:"+ data["count"] +"条<hr />";
                console.log(data)
                document.getElementById("Ptime").innerHTML=analyze_data;
                $('#cusTable').bootstrapTable('destroy');
                $(function () {
					$('#cusTable').bootstrapTable({
					    //是否显示行间隔色
                        striped: true,
                        //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        cache: false,
                        //是否显示分页（*）
                        pagination: true,
                         //是否启用排序
                        sortable: true,

                        //初始化加载第一页，默认第一页
                        //我设置了这一项，但是貌似没起作用，而且我这默认是0,- -
                        pageNumber:1,
                        //每页的记录行数（*）
                        pageSize: 10,
                        //可供选择的每页的行数（*）
                        pageList: [10, 25, 50, 100],

                        //分页方式：client客户端分页，server服务端分页（*）
                        sidePagination: "client",
                        //是否显示搜索
                        search: false,
                        //Enable the strict search.
                        strictSearch: true,

					    columns: [{
                                    field: 'key',
                                    title: '姓名'
                                }, {
                                    field: 'doc_count',
                                    title: '拜访总数'
                                },{
                                    field: 'by_user.buckets.1.doc_count',
                                    title: '网点(0)总数'
                                },{
                                    field: 'by_user.buckets.1.unique.value',
                                    title: '网点(0)个数'
                                },
                                {
                                    field: 'by_user.buckets.0.doc_count',
                                    title: '经销商(1)总数'
                                },{
                                    field: 'by_user.buckets.0.unique.value',
                                    title: '经销商(1)个数'
                                },{
                                    field: 'by_user.buckets.2.doc_count',
                                    title: '团购(2)总数'
                                },{
                                    field: 'by_user.buckets.2.unique.value',
                                    title: '团购(2)个数'
                                }],
						data: data["buckets"]
					});
				});
            })
        });
    });

</script>

</body>
</html>