<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>内部运维系统</title>
    <style>
        body {
            margin-left: 50px;
        }
        a {
            display: block;
            width: 150px;
            height: 20px;
            padding: 10px;
        }
        a:link {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }

    </style>
</head>
<body>
<h2>正式平台</h2>
<div style="
    margin-left: 100px;
    ">
    <a style="" href="http://192.168.15.33:8081/login.html" target="_blank"> API接口文档 </a><br>
    <a href="http://192.168.15.36:8080/jenkins/" target="_blank"> Jenkins部署 </a><br>
    <a href="http://192.168.15.39/zabbix" target="_blank"> 监控平台 </a><br>
    <a href="http://192.168.15.38:8081/nexus" target="_blank"> 内部动态库 </a><br>
    <a href="http://192.168.15.35:8080/" target="_blank"> Dubbo平台 </a><br>
    <a href="http://192.168.15.201:28080/" target="_blank"> 二维码部署 </a><br>
</div>
<h2> 测试平台</h2>
<div style="margin-left: 100px">
    <a href="http://192.168.15.60:8080/" target="_blank"> Dubbo平台 </a>
</div>
</body>
</html>