<!DOCTYPE html>
<html lang="en">

    <head>

        <title>登陆</title>

        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ static_url('css/login/form-elements.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/login/style.css') }}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>信息平台</strong> </h1>
                            <div class="description">
                            	<p>
	                            	
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>登陆界面</h3>
                            		
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">用户名</label>
			                        	<input type="text" name="form-username" placeholder="用户名..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">密码</label>
			                        	<input type="password" name="form-password" placeholder="密 码..." class="form-password form-control" id="form-password">
			                        </div>

			                        <button type="submit" class="btn">登陆</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="{{ static_url('js/jquery.min.js') }}"></script>
        <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
		<!--背景 -->
        <script src="{{ static_url('js/login/jquery.backstretch.min.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                $.backstretch("{{ static_url('img/login/1.jpg') }}");

                /*
                    Form validation
                */
                $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function() {
                    $(this).removeClass('input-error');
                });

                $('.login-form').on('submit', function(e) {

                    $(this).find('input[type="text"], input[type="password"], textarea').each(function(){
                        if( $(this).val() == "" ) {
                            e.preventDefault();
                            $(this).addClass('input-error');
                        }
                        else {
                            $(this).removeClass('input-error');
                        }
                    });
                });


            });
        </script>
    </body>

</html>